@charset "EUC-KR";
.layer {
   position: absolute;
   display: table;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%
  
  
}
.layer .layer_inner {
   display: table-cell;
   text-align: center;
   vertical-align: middle
}

/* 캐러셀 그라데이션 삭제 */
.carousel-control {background: none !important; }